[core]
	editor = \"C:\\Users\\micro\\AppData\\Local\\Programs\\Microsoft VS Code\\Code.exe\" --wait
[user]
	name = Alec Stewart
	email = alec@alecjstewart.com
	signingkey = 16A4BF6B234FA6CC
[commit]
	gpgsign = true
[gpg]
	program = C:\\Program Files (x86)\\GnuPG\\bin\\gpg.exe
